html, body {
    overflow-x: hidden;
    
    
  }
  body {
    position: relative;
    overflow: visible;
  }

  html, body{
    width: 100%;
    height: 100%;
  }

header.masthead {
    background: no-repeat center center;
    background-color: #868e96;
    /* background-attachment: fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
    background-size: 100% auto;
    width: 100%;
		height: 100%;
		/* overflow: scroll; */
  }

  header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #23140b;
    opacity: 0.5;
  }
  
/* section .overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:#10010f;
    opacity: 0.5;
    height: 100%;
} */

.leaderboard {
    background-color: #F0CA66;
    height: 100px;
    position: relative;
}

.verticalCenter {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }


  .yellowBoard {
    background-color: #F0CA66;
    height: 50px;
    position: relative;
}

.verticalCenter2 {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }


  .bigText {
      font-size: 5em;
  }

  .profilePicRank {
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 80px;
    width: 80px;
    border-radius: 100% !important;
  }


  .profilePicRank_mobile {
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 40px;
    width: 40px;
    border-radius: 100% !important;
  }




  .riderList{
    display: table;
    padding: 16px 0;
    width: 100%;
}

.riderRanking {

    vertical-align: middle;
}

li {
    list-style: none;
}

.table td, .table th {
    border: 1px solid #dbdbdb;
    border-width: 0 0 1px;
    padding: .5em .75em;
    vertical-align: middle;
}


.stripeShadow {
    box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,.25), 0 2px 6px rgba(0,21,64,.14), 0 10px 20px rgba(0,21,64,.05);
}

.Shadow {
    box-shadow: 0px 0px 8px 2px #efefef;
}

.rectangle1 {
    width: 244px;
    height: 30px;
    top: 0px;
    background: #000000;
}

.blackBoard {
    background-color: #000000;
    height: 50px;
    position: relative;
}

.card {
    background-color: #383838;
}

.table {
    background-color: #383838;
    color: white;
}

.bg-gold {
    background: linear-gradient(9deg, #f0cd6b 50%, #444444 50%);
    -webkit-backface-visibility: hidden;
    overflow:hidden
  }


  .bg-gold2 {
    background: linear-gradient(65deg, #f0cd6b 50%, #444444 50%);
    -webkit-backface-visibility: hidden;
    overflow:hidden
  }


.customBtn {
    border-width: 2px;
    border-radius: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.customBtnHome {
    border-width: 2px;
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.button.is-dark.is-inverted.is-outlined.is-focused, .button.is-dark.is-inverted.is-outlined.is-hovered, .button.is-dark.is-inverted.is-outlined:focus, .button.is-dark.is-inverted.is-outlined:hover {
    background-color: #444444;
    color: #363636;
}

